 /*Home and about div flex*/
 .homeimage{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 /*Home image*/
 .custom-image2{
   width: 500px;
   height: 300px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.custom-image2 {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/*Buttom at bottom of text on the home page*/
.buttomhom{
  border-radius: 35px;
  background-color: #db7a0b;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.buttomtext{
  color:hsl(202, 14%, 84%);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}